<section class="d-flex flex-column shadow vh-100 p-4" style="width: 300px;">    
    <div class="mb-4">
        <img src="assets/icons/logo.png" alt="System Logo" width="200">
    </div>
    
    <ul class="list-unstyled w-100 text-center">
        <li class="mb-3">
            <button class="btn btn-outline-primary w-100">
                Dashboard
            </button>
        </li>
    </ul>
    
    <button class="btn btn-danger w-50" (click)="logout()">
        Log Out
    </button>
</section>